body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    margin: 10px;
    transition: background 0.2s;
}

.active-link {
    background-color: red;
    color: white;
    border-color: darkred;
}

p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}