* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    text-align: center;
}

.menu ul li {
    display: inline;
    margin: 10px;
}

.menu ul li a {
    font-size: larger;
    color: black;
    text-decoration:underline;
    font-weight: bold;
}

.page-container {
    display: flex;
    max-width: 980px;
    margin: 20px auto 0;
}

.left-side {
    width: 25%;
    background-color: #3a5e90;
    padding: 20px;
    color: white;
}

.right-side {
	width: calc(75% - 6px);
    padding: 20px;
}

.avatar {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.image {
    display: block;
    width: 100%;
}

h3 {
    border-bottom: 2px solid #9c9c9c;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;

}

h2{
    border-bottom: 2px solid #9c9c9c;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-right: 25px;
    margin-bottom: 20px;
}
.p1 {
    margin-top: 30px;
    font-family:'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    padding: 10px;
}
ul{
    list-style: none;
}
li{
    margin-top: 12px;
}
.btn{
    display: block;
    width: 200px;
    height: 50px;
    border: 1px solid black ;
    border-radius: 20px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
}
.btn:hover{
    background-color: black;
    color: white;
}
